.map {
   &__wrapper {
      height: 78vh;
      width: 100%;
      position: relative;
   }

   &__container {
      height: 100%;
      width: 100%;
   }
   
   &__control {
      @apply shadow-center rounded-sm text-lg;
      background: white;
      color: hsl(var(--gmap-color-base));
      padding: 0 0.5rem;
      height: 40px;
      margin: 10px;

      &:hover {
         color: hsl(var(--gmap-color-hover));
      }

      &:active {
         color: hsl(var(--gmap-color-active));
      }

      &-wrapper {
         height: fit-content;
         width: fit-content;
      }
   }
}
