@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --gmap-color-base: 0 0% 40%;
   --gmap-color-hover: 0 0% 20%;
   --gmap-color-active: 0 0% 7%;
}

@import 'fonts';
@import 'map';
@import 'menu';